<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="position: relative;top: 20%">
    <c:if test="${!empty succ}">
        <div class="alert alert-success" role="alert">
                ${succ}
        </div>
    </c:if>
    <c:if test="${!empty error}">
        <div class="alert alert-danger" role="alert">
            ${error}
        </div>
    </c:if>
</div>
	<%
{
response.setHeader("refresh","2;URL=doIndexUI.do");//这里的3,是你要确定的时间秒URL是要跳转的地址
%>
	<span style="border:1px; background:#FFF; width: 50px; height: 50px; top: 80px; left: 150px">
	<font color="black" size="5" style="border:1px; background:#FFF; width: 50px; height: 50px; top: 80px; left: 150px"> 发表成功<br> <br>
		三秒后将跳转到登录页面 <br> <br> 如果没有跳转,请按 <a href="starter">这里</a>!!!
		<br>
	</font>
	</span>
	<%
}
%>
</body>
</html>